

element.style {
}

body {
    background-color: GainsBoro;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.header {
  font-family: Palatino, 'Palatino Linotype', serif;
    color: Teal;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

.job {
  font-family: Palatino, 'Palatino Linotype', serif;
    color: Teal;
}

h2 {
color: Teal;
text-align: center;
}

p {
  color: DeepSkyBlue;
    font-size: 15px;
}

li {
  color: DeepSkyBlue;
  font-family: helvetica;
 }
