
body {
    background-color: GainsBoro;
}
.header {
  font-family: Palatino, 'Palatino Linotype', serif;
    color: Teal;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}

.job {
  font-family: Palatino, 'Palatino Linotype', serif;
    color: Teal;
}

h2 {
color: Teal;
}

p {
  color: DeepSkyBlue;
    font-size: 15px;
}

li {
  color: DeepSkyBlue;
  font-family: helvetica;
 }
