
body {
    background-color: GainsBoro;
}
.header {
  font-family: Palatino, 'Palatino Linotype', serif;
    color: Teal;
    justify-content: center;
}

h1{
font-size: 56px;
}

p {
  color: DeepSkyBlue;
}

li {
  color: darkgoldenrod;
    font-family: helvetica;
    display: inline;
}
